/* move_window-close-button.css */


/* .titlebar-buttonbox toolbarbutton {
    margin-top: -25px !important;
    margin-right: -15px !important;
}  */


/* .titlebar-buttonbox toolbarbutton {
    height: 5px;
}  */